{% extends "template.html" %}
{% block title %}Projects{% endblock title %}
{% block navLink %}projects{% endblock navLink %}
{% block paginationLink %}4{% endblock paginationLink %}
{% block body %}
{{ super() }}
<h3 class="mt-3">Projects</h3>
    <hr>
    <div class="card-group mx-5">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Aerospace Engineering</h5>
          <p class="card-text">&emsp;&emsp;Junior consultants who have the foundational elements of aerospace vehicle development and have learned the unique elements of specific vehicles pertaining to their client’s project make valuable contributions to the team relatively quickly.
<br><br>
&emsp;&emsp;As they gain more real world experience, these aerospace engineers receive greater job responsibilities and opportunities for career advancement. Mid-level aerospace engineers usually serve as systems engineers while senior-level aerospace engineers find themselves working as engineering managers or project managers.
<br><br>
&emsp;&emsp;Aerospace vehicles contain many subsystems, and it is the job of aerospace engineers working as managers to be expertly familiar with the functions of all subsystems. Some common vehicle components include the engine, system propulsion, avionics, computer control system, and air and space craft structure. These aerospace engineers oversee the upgrades to these subsystems and assess the risks or benefits to the overall system.
</p>
        </div>
        <div class="row row-cols-1 row-cols-md-2 mx-3 mb-3">
          {% for i in numbers %}
          <div class="col">
            <img src="{{ url_for('static', filename = 'aerospaceProject'+i+'.jpg') }}" alt="Aerospace Engineering Picture" class="p-2 w-100 h-100 rounded-3">
          </div>
          {% endfor %}
        </div>
      </div>

      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Civil Engineering</h5>
          <p class="card-text">&emsp;&emsp;General civil engineering may include the design and construction of infrastructure projects including: airports, roads, bridges, dams, sewerage, railways.
      <br><br>
&emsp;&emsp;Civil engineers who obtained further training and education have the option to teach and participate in developing engineering courses. Highly qualified civil engineers can manage big plants and oversee facility design and construction to make sure they obtain environmental, construction and operating permits. 
<br><br>
&emsp;&emsp;The projects that civil engineers do are normally separated into 5 categories. These are construction and management, geotechnical, structural, transport, and water projects. These projects can be broken down further into standard analysis/design projects and developing new solutions projects.</p>
        </div>
        <div class="row row-cols-1 row-cols-md-2 mx-3 mb-3">
          {% for i in numbers %}
          <div class="col">
            <img src="{{ url_for('static', filename = 'CE Project Image '+i+'.jpg') |e }}" alt="Civil Engineering Picture" class="p-2 w-100 h-100 rounded-3">
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
{% endblock body %}